[binary_path]
    path=data/add-ons/Era_of_Ilthan/
[/binary_path]

#ifdef MULTIPLAYER
#define ERA_OF_ILTHAN
#enddef
#endif
#ifdef ERA_OF_ILTHAN
#define MP_SIDE FACTION
    {~add-ons/Era_of_Ilthan/factions/{FACTION}.cfg}
#enddef
{~add-ons/Era_of_Ilthan/Era_of_Ilthan.cfg}
#undef MP_SIDE

[+units]
    {~add-ons/Era_of_Ilthan/units}
    {~add-ons/Era_of_Ilthan/units/lizard_alliance}
    {~add-ons/Era_of_Ilthan/units/mountain_mages}
    {~add-ons/Era_of_Ilthan/units/black_army}
    {~add-ons/Era_of_Ilthan/units/desert_undead}
    {~add-ons/Era_of_Ilthan/units/swamp_undead}
    {~add-ons/Era_of_Ilthan/units/wood_pirates}
    {~add-ons/Era_of_Ilthan/units/artons}
    {~add-ons/Era_of_Ilthan/units/earthmen}
[/units]
#endif
