#textdomain wesnoth-era_of_ilthan
[multiplayer_side]
    id=EOI_earthmen_heroes
    name= _"Earthmen"
    description=_"The earthmen faction is a unique blend of the cautious, resourceful earthmen and the raw power of the creatures they capture, known as the earth monsters. This alliance is one forged out of necessity and careful management, with each member playing a distinct role. Earthmen rely on their collective strategy and numbers, using their specialized skills to build traps, coordinate attacks, and control the flow of battle. Meanwhile, the earth monsters add strength and versatility, filling in the gaps where earthmen lack power or agility. Together, they form a defensive force well-suited to the caves they call home, a faction that values unity, adaptability, and resilience against any who dare to intrude upon their hidden realm."
    image="units/earthmen/king.png"
    type=EOI_king
    leader=EOI_king
    recruit=EOI_onolom_hatchling,EOI_worker,EOI_stone_thrower,EOI_cord_weaver,EOI_krutilarys_whelp,EOI_young_garavandion,EOI_overman,EOI_slinger,EOI_net_thrower,EOI_onolom,EOI_krutilarys,EOI_grown_garavandion
    terrain_liked=FHS
    [ai]
        recruitment_pattern=fighter,archer,fighter,scout,archer
    [/ai]
[/multiplayer_side]
