#textdomain wesnoth-era_of_ilthan
[unit_type]
    id=EOI_black_archer
    name= _ "Black Archer"
    race=EOI_human
    gender=male
    image="units/black_army/black_archer.png"

    hitpoints=33
    movement_type=smallfoot
    movement=5
    experience=39
    level=1
    alignment=neutral
    advances_to=EOI_black_crossbowman
    cost=15
    usage=archer
    description=_"The Black Archers are infamous not only for their skill with a bow but for their resilience in battle. Unlike most archers, they are trained to fight in close quarters if necessary, making them difficult to dislodge. Their black armor and grim discipline allow them to hold their ground while raining arrows upon enemies, instilling a lasting fear in those who face them."
    {DEFENSE_ANIM "units/black_army/black_archer.png" "units/black_army/black_archer.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=human

    [attack]
        description=_"short sword"
        icon=attacks/sword-human-short.png
        type=blade
        range=melee
        damage=6
        number=2
        [animation]
            hits=no
            [frame]
                begin=-150
                end=0
                image="units/black_army/black_archer.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/animation]
        [animation]
            hits=yes
            [frame]
                begin=-150
                end=0
                image="units/black_army/black_archer.png"
                sound=sword-1.ogg
            [/frame]
        [/animation]
    [/attack]
    [attack]
        name=bow
        description=_"bow"
        type=pierce
        range=ranged
        damage=6
        number=3
        [animation]
            hits=no
            [missile_frame]
                begin=-150
                end=0
                image="projectiles/missile-n.png"
                image_diagonal="projectiles/missile-ne.png"
            [/missile_frame]
            [frame]
                begin=-150
                end=0
                image="units/black_army/black_archer.png"
                sound=bow-miss.ogg
            [/frame]
        [/animation]
        [animation]
            hits=yes
            [missile_frame]
                begin=-150
                end=0
                image="projectiles/missile-n.png"
                image_diagonal="projectiles/missile-ne.png"
            [/missile_frame]
            [frame]
                begin=-150
                end=0
                image="units/black_army/black_archer.png"
                sound=bow.ogg
            [/frame]
        [/animation]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=-5
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
    [/attack_anim]
[/unit_type]
