#textdomain era_of_ilthan
[unit_type]
    id=EOI_heavy_crossbowman
    name= _ "Heavy Crossbowman"
    race=EOI_human
    gender=male
    image="units/black_army/heavy_crossbowman.png"

    hitpoints=70
    movement_type=armoredfoot
    movement=5
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    undead_variation=archer
    cost=46
    usage=archer
    description=_"The heavy crossbowmen wear so heavy crossbows, that they can shoot strong and precise, but not very far, so they have to go very close to the enemy, so the enemies can shoot back or even attack them. This is why they get a heavy armor, so they are the best armored ranged fighters on the island of Ilthan."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/black_army/heavy_crossbowman.png" "units/black_army/heavy_crossbowman.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        description=_"sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=10
        number=3
        [animation]
            hits=no
            [frame]
                begin=-150
                end=0
                image="units/black_army/heavy_crossbowman.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/animation]
        [animation]
            hits=yes
            [frame]
                begin=-150
                end=0
                image="units/black_army/heavy_crossbowman.png"
                sound=sword-1.ogg
            [/frame]
        [/animation]
    [/attack]
    [attack]
        description= _ "crossbow"
        type=pierce
        range=ranged
        damage=12
        number=3
        icon=attacks/crossbow-human.png
        [animation]
            hits=no
            [missile_frame]
                begin=-150
                end=0
                image="projectiles/missile-n.png"
                image_diagonal="projectiles/missile-ne.png"
            [/missile_frame]
            [frame]
                begin=-150
                end=0
                image="units/black_army/heavy_crossbowman.png"
                sound=crossbow-miss.ogg
            [/frame]
        [/animation]
        [animation]
            hits=yes
            [missile_frame]
                begin=-150
                end=0
                image="projectiles/missile-n.png"
                image_diagonal="projectiles/missile-ne.png"
            [/missile_frame]
            [frame]
                begin=-150
                end=0
                image="units/black_army/heavy_crossbowman.png"
                sound=crossbow.ogg
            [/frame]
        [/animation]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=crossbow
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=-5
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
    [/attack_anim]
[/unit_type]
