#textdomain wesnoth-units
[unit_type]
    id=EOI_corpse_thief
    name= _ "Corpse Thief"
    race=EOI_human
    gender=male,female
    image="units/human-outlaws/rogue.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    profile=portraits/humans/thief.png
    hitpoints=44
    movement_type=elusivefoot
    movement=5
    experience=90
    level=2
    alignment=chaotic
    advances_to=EOI_graveyard_robber
    cost=30
    usage=fighter
    description= _ "In order to create their undead armies, necromancers need lots of corpses. A very long time ago, a large army was lured into the swamp and killed. So there is a large supply of corpses in the swamp. But sometimes, it is a lot of work to find them because they are distributed all over the large Ural swamp and you the necromancers cannot really control which kinds of corpses they find. So if they need something special for their experiments, for example a particularly large corpse, they often let their assistants steal corpses from the Artonian graveyards or before they are buried. This is, however, a very dangerous task since relatives and guards are not very happy about that, so it requires a lot of skills to sneak into the cities at night and steal the corpses."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-outlaws/rogue-defend.png" "units/human-outlaws/rogue.png" {SOUND_LIST:HUMAN_HIT} }
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/humans/transparent/thief.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/humans/transparent/thief.png"
    [/portrait]
    [attack]
        name=dagger
        description=_"dagger"
        icon=attacks/dagger-human.png
        type=blade
        range=melee
        damage=10
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
            image="units/human-outlaws/rogue.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-150
                end=100
                image="units/human-outlaws/rogue-attack.png"
                sound=dagger-swish.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-150
                end=100
                image="units/human-outlaws/rogue-attack.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/human-outlaws/rogue.png"
        [/frame]
    [/attack_anim]
    [death]
        start_time=0
        [frame]
            duration=100
            image="units/human-outlaws/rogue-die-1.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-outlaws/rogue-die-2.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-outlaws/rogue-die-3.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-outlaws/rogue-die-4.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-outlaws/rogue-die-5.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-outlaws/rogue-die-6.png"
        [/frame]
    [/death]
    [female]
        name= _ "female^Corpse Thief"
        gender=female
        image="units/human-outlaws/rogue+female.png"
        profile="portraits/humans/thief+female.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/human-outlaws/rogue+female-defend.png" "units/human-outlaws/rogue+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
        [portrait]
            size=400
            side="left"
            mirror="false"
            image="portraits/humans/transparent/thief+female.png"
        [/portrait]
        [portrait]
            size=400
            side="right"
            mirror="true"
            image="portraits/humans/transparent/thief+female.png"
        [/portrait]
        [attack_anim]
            [filter_attack]
                name=dagger
            [/filter_attack]
            [frame]
                image="units/human-outlaws/rogue+female.png"
            [/frame]
            [if]
                [frame]
                    image="units/human-outlaws/rogue+female-attack.png"
                [/frame]
            [/if]
            [else]
                [frame]
                    image="units/human-outlaws/rogue+female-attack.png"
                [/frame]
            [/else]
            [frame]
                image="units/human-outlaws/rogue+female.png"
            [/frame]
        [/attack_anim]
        [death]
            [frame]
                image="units/human-outlaws/rogue+female-die-1.png"
            [/frame]
            [frame]
                image="units/human-outlaws/rogue+female-die-2.png"
            [/frame]
            [frame]
                image="units/human-outlaws/rogue+female-die-3.png"
            [/frame]
            [frame]
                image="units/human-outlaws/rogue+female-die-4.png"
            [/frame]
            [frame]
                image="units/human-outlaws/rogue+female-die-5.png"
            [/frame]
            [frame]
                image="units/human-outlaws/rogue+female-die-6.png"
            [/frame]
        [/death]
    [/female]
[/unit_type]
