#textdomain era_of_ilthan
#macro to define most of Swamp Walking Corpse
#define UNIT_BODY_SWAMP_WALKING_CORPSE BASE_IMAGE MOVETYPE MOVES HP
    id=EOI_walking_corpse
    name= _ "Walking Corpse"
    race=EOI_swamp_undead
    image="units/swamp_undead/{BASE_IMAGE}.png"

    [defend]
        [frame]
            begin=-150
            end=150
            image="units/swamp_undead/{BASE_IMAGE}.png"
        [/frame]
    [/defend]
    hitpoints=19
    ### hp macro {HP}
    movement_type=EOI_smallfoot2
    [resistance]
        holy=150
    [/resistance]
    ### movetype macro {MOVETYPE}
    movement=4
    ### moves macro {MOVES}
    level=0
    ellipse="misc/ellipse-nozoc"
    experience=30
    alignment=chaotic
    advances_to=EOI_soulless
    cost=6
    usage=fighter
    unitdescription=  "Walking Corpses are the bodies of the dead, re-animated by dark magic. Although weak in combat, these zombies can spread their curse to those they kill, increasing the army of undead."
    get_hit_sound=zombie-hit.wav
    [attack]
        name=fist
        description=_"fist"
        icon=attacks/fist.png
        type=impact
        range=melee
        damage=5
        number=2
        [specials]
            {WEAPON_SPECIAL_PLAGUE_TYPE EOI_walking_corpse}
        [/specials]
        [animation]
            direction=se,sw,ne,nw
            [frame]
                begin=-200
                end=100
                image="units/swamp_undead/{BASE_IMAGE}.png"
                sound=zombie-attack.wav
            [/frame]
        [/animation]
        [animation]
            direction=n
            [frame]
                begin=-200
                end=100
                image="units/swamp_undead/{BASE_IMAGE}.png"
                sound=zombie-attack.wav
            [/frame]
        [/animation]
        [animation]
            direction=s
            [frame]
                begin=-200
                end=100
                image="units/swamp_undead/{BASE_IMAGE}.png"
                sound=zombie-attack.wav
            [/frame]
        [/animation]
    [/attack]
#enddef
[unit_type]
    {UNIT_BODY_SWAMP_WALKING_CORPSE walking_corpse smallfoot 4 19}
    [movement_costs]
        deep_water=4
        swamp_water=1
    [/movement_costs]
    [defense]
        swamp_water=50
    [/defense]
[/unit_type]
#undef UNIT_BODY_SWAMP_WALKING_CORPSE
